# all pycache directories
__pycache__/

# all pyc files
*.pyc

# pytest cache
.pytest_cache/

# password config
*pwd

# server logs
*.log

# server files
server/doc_root/test_file_service/*

# client files
client/local_files/*

# ssl certificates
*.pem
*.crt
*.key
*.csr

# vscode settings
.vscode/

# python virtual environments
venv/